<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<!--General configuration-->
		<add key="BaseUrl" value="https://www.google.com/" />
		<add key="Username" value="" />
		<add key="Password" value="" />

		<!--Firefox/Chrome etc.-->
		<add key="Browser" value="Chrome" />

		<!--Any/Windows 10/Windows 7/Linux etc.-->
		<add key="Platform" value="Windows 7" />
	</appSettings>
</configuration>